@use "sass:map";
@use "../helpers/variables" as *;

//=========================================================================//
// CSS GRID ###############################################################
//=========================================================================//
.ui__grid__container {
  margin: auto;
  max-width: map.get($breakpoints, 'tv');
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.ui__grid__row {
  display: grid;
  writing-mode: horizontal-tb;
  grid-template-columns: repeat($grid-column-limit, 1fr);
  grid-auto-flow: row;
  gap: $grid-gap;

  .ui__grid__column {
    padding: $grid-padding;

    @for $i from 1 through $grid-column-limit {
      @if ($i < 10) {
        &.span-0#{$i} {
          grid-column: auto / span #{$i};
        }
      } @else {
        &.span-#{$i} {
          grid-column: auto / span #{$i};
        }
      }
    }
  }
}